* {
  box-sizing: border-box;
}
.quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 4.5vh;
    line-height: 1.1;
}
.wrapper {
    padding: 4vw;
    width: 90%;
    margin: 10vh auto;
    text-align: center;
}
body {
    width: 100%;
    height: 100vh;
    background: url(assets/freedom.jpg) no-repeat center;
    background-size: cover;
    color: #333;
}
.author {
    font-family: 'Crimson Text', serif;
    font-size: 3.5vh;
    font-style: italic;
    margin-top: 6vh;
}
html, body {
    font-size: 100%;
}
/* ==== STICKY FOOTER STYLES ==== */

html {
  min-height: 100%;
  position: relative;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 10vh;
  background-color: rgba(0,0,0,.3);
}
.lang {
  text-align: center;
  vertical-align: center;
  font-family: sans-serif;
  font-size: 4vh;
  margin-top: 2vh;
}
nav a {
  text-decoration: none;
  text-align: center;
  vertical-align: baseline;
  display: block;
  padding: 1vh 5vw;
}
.lang-en {
  color: rgb(180,180,180);
  text-decoration: none;
  vertical-align: center;
}
.lang-en {
  border: 1px solid rgb(180,180,180);
  border-radius: 9999px;
  margin-left: 70vw;
  margin-right: 5vw;
}

.lang-en:hover {
  color: rgb(50,50,50);
  background-color: rgba(180,180,180,.5);
  transition: background-color .2s ease-in-out;
}
/* Media Query === On screens that are 600px or more */
@media screen and (min-width: 600px) {
  .quote {
    font-size: 5vh;
}
.wrapper {
    padding-top: 6vw;
    width: 80%;
}
.author {
    font-size: 5vh;
}
html, body {
    line-height: 1.5;
}
}
/* Media Query === On screens that are 1366px or more */
@media screen and (min-width: 1366px) {
  .quote {
    font-size: 7vh;
}
  .wrapper {
    padding-top: 2vw;
    width: 80%;
}
  .author {
    font-size: 7vh;
}
  html, body {
    line-height: 1.25;
}
}